button{
    background-color: var(--button-primary-color);
    padding: 0.75rem 3rem 0.75rem 3rem;
    font-size: 1rem;
    margin: 0;
    border: none;
    border-radius: 0.5rem;
    color: var(--font-secondary-color)
}

.timer-button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}