:root{
  --background-primary-color: #f7f6f2;
  --button-primary-color: #373738;
  --font-primary-color: #373738;
  --font-secondary-color: #f7f6f2;
  --icons-primary-color: #373738;
  --icons-secondary-color: #f7f6f2;
  --switch-primary-color: #f7f6f2;
  --switch-secondary-color: #373738;
}

.App{
  height: 100%;
  width: 100%;
  box-sizing: inherit;
  background-color: var(--background-primary-color);
}
